<md-dialog class="layout-column"
           style="background-color: #2B2B2B"
           ng-init="onload()">
    <div class="layout-column">
        <div class="layout-row layout-align-center-center">
            <h2 style="color: white">Mango (Fruit){{number}}</h2>
            <span class="flex"></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
        <div class="app-dark-divider"></div>
    </div>

    <div class="flex flex-to-block-parent">
        <div class="flex-to-block-child">
                <textarea id="code">{{source_code}}</textarea>
        </div>
    </div>
    <div class="app-dark-divider"></div>
    <div class="layout-row"
         style="padding: 16px">
        <textarea id="run_code" class="flex">func(123, "wwerer");</textarea>
    </div>
</md-dialog>

<style>
    .app-dark-divider {
        height: 2px;
        background-color: #7f7f7f;
    }
</style>