<md-dialog class="layout-column"
           style="background-color: #2B2B2B"
           ng-init="onload()">
    <div class="md-toolbar-tools">
        <h2>Mango (Fruit){{number}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-font-icon="fa fa-times"></md-icon>
        </md-button>
    </div>

    <div class="flex flex-to-block-parent">
        <div class="flex-to-block-child">
            <textarea id="code">{{source_code}}</textarea>
        </div>
    </div>
    <div style="height: 2px; background-color: #7f7f7f"></div>
    <div class="layout-row">
        <textarea id="run_code" class="flex">func(123, "wwerer");</textarea>
    </div>
</md-dialog>