<md-dialog class="layout-column"
           style="background-color: #2B2B2B"
           ng-init="onload()">
    <div class="layout-column">
        <div class="layout-row layout-align-center-center">
            <h2 style="color: white">Mango (Fruit){{number}}</h2>
            <span class="flex"></span>
            <md-button class="md-button"
                       style="background-color: #9e9e9e; color: #000;"
                       ng-click="save()">
                Save
            </md-button>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
        <div class="app-dark-divider"></div>
    </div>

    <div class="flex flex-to-block-parent">
        <div class="flex-to-block-child">
                <textarea id="code">{{source_code}}</textarea>
        </div>
    </div>
    <div class="app-dark-divider"></div>
    <div class="layout-row layout-align-start-center" style="padding-left: 16px">
        <textarea id="run_code" class="flex" >func(123, "wwerer");</textarea>
        <md-button class="md-icon-button"
                   ng-click="run()">
            <md-icon md-font-icon="fa fa-play"
                     ng-style="{ 'color': (result_code == start? '#00bb00' : 'yellow') }"></md-icon>
        </md-button>
    </div>
    <div class="layout-column" ng-show="result_node_show">
        <div class="app-dark-divider"></div>
        <div class="flex-to-block-parent" style="height: 150px">
            <div class="flex-to-block-child">
                <textarea id="result">{{result_nodes}}</textarea>
                <md-button class="md-icon-button"
                           style="right: 0; top: 0; position: absolute; z-index: 2"
                           ng-click="result_node_show = false">
                    <md-icon md-font-icon="fa fa-times"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>

<style>
    .app-dark-divider {
        height: 2px;
        background-color: #7f7f7f;
    }
</style>