<div class="background layout-column">

    <div class="header layout-row">
        <div class="flex">
            wfwefwefwef<br>
            wfwefwefwef<br>
            wfwefwefwef<br>
            wfwefwefwef<br>
            wfwefwefwef<br>
        </div>
    </div>
    <div class="content-container layout-row layout-align-center-start">
        <div class="layout-column">
            DarkJS
        </div>
        <div class="content layout-column">
            <div class="name">DarkJS</div>
            <p>
                <b>DarkJS</b> - программа или интерпритатор котоырй выполняет JavaScript код.
                Поддерживает объектно-ориентированный, императивный и функциональный стили.
                Является реализацией языка ECMAScript;

                <a href="/wiki/%D0%9C%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%BF%D0%B0%D1%80%D0%B0%D0%B4%D0%B8%D0%B3%D0%BC%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5"
                   title="Мультипарадигменное программирование">мультипарадигменный</a> <a
                    href="/wiki/%D0%AF%D0%B7%D1%8B%D0%BA_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F"
                    title="Язык программирования">язык программирования</a>. Поддерживает <a
                    href="/wiki/%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BD%D0%BE-%D0%BE%D1%80%D0%B8%D0%B5%D0%BD%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5"
                    title="Объектно-ориентированное программирование">объектно-ориентированный</a>, <a
                    href="/wiki/%D0%98%D0%BC%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5"
                    title="Императивное программирование">императивный</a> и <a
                    href="/wiki/%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5"
                    title="Функциональное программирование">функциональный</a> стили. Является реализацией языка <a
                    href="/wiki/ECMAScript" title="ECMAScript">ECMAScript</a> (стандарт ECMA-262<sup
                    id="cite_ref-ECMA-262_9-0" class="reference"><a href="#cite_note-ECMA-262-9">&#91;8&#93;</a></sup>).
            </p>
            <p>JavaScript обычно используется как встраиваемый язык для программного доступа к объектам <a
                    href="/wiki/%D0%9A%D0%BE%D0%BC%D0%BF%D1%8C%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D0%B0%D1%8F_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0"
                    title="Компьютерная программа">приложений</a>. Наиболее широкое применение находит в <a
                    href="/wiki/%D0%91%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80" title="Браузер">браузерах</a> как язык
                сценариев для придания <a
                        href="/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%B2%D0%BD%D0%BE%D1%81%D1%82%D1%8C"
                        title="Интерактивность">интерактивности</a> <a
                        href="/wiki/%D0%92%D0%B5%D0%B1-%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0"
                        title="Веб-страница">веб-страницам</a><sup id="cite_ref-10" class="reference"><a
                        href="#cite_note-10">&#91;9&#93;</a></sup>.
            </p>
            <p>Основные архитектурные черты: <a
                    href="/wiki/%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%82%D0%B8%D0%BF%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F"
                    title="Динамическая типизация">динамическая типизация</a>, <a
                    href="/wiki/%D0%A1%D0%BB%D0%B0%D0%B1%D0%B0%D1%8F_%D1%82%D0%B8%D0%BF%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F"
                    class="mw-redirect" title="Слабая типизация">слабая типизация</a>, <a
                    href="/wiki/%D0%A1%D0%B1%D0%BE%D1%80%D0%BA%D0%B0_%D0%BC%D1%83%D1%81%D0%BE%D1%80%D0%B0_(%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)"
                    class="mw-redirect" title="Сборка мусора (программирование)">автоматическое управление памятью</a>,
                <a href="/wiki/%D0%9F%D1%80%D0%BE%D1%82%D0%BE%D1%82%D0%B8%D0%BF%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5"
                   title="Прототипное программирование">прототипное программирование</a>, функции как <a
                        href="/wiki/%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82_%D0%BF%D0%B5%D1%80%D0%B2%D0%BE%D0%B3%D0%BE_%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B0"
                        title="Объект первого класса">объекты первого класса</a>.
            </p>
            <p>На JavaScript оказали влияние многие языки, при разработке была цель сделать язык похожим на Java, но при
                этом лёгким для использования <a
                        href="https://ru.wiktionary.org/wiki/%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-%D0%BD%D0%B5%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%81%D1%82"
                        class="extiw" title="wikt:пользователь-непрограммист">непрограммистами</a>. Языком JavaScript не
                владеет какая-либо компания или организация, что отличает его от ряда языков программирования,
                используемых в веб-разработке<sup id="cite_ref-11" class="reference"><a href="#cite_note-11">&#91;~ 1&#93;</a></sup><sup
                        id="cite_ref-12" class="reference"><a href="#cite_note-12">&#91;10&#93;</a></sup>.
            </p>
            <p>Название «JavaScript» является зарегистрированным <a
                    href="/wiki/%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D0%BD%D1%8B%D0%B9_%D0%B7%D0%BD%D0%B0%D0%BA"
                    title="Товарный знак">товарным знаком</a> компании <a href="/wiki/Oracle_Corporation"
                                                                          class="mw-redirect"
                                                                          title="Oracle Corporation">Oracle
                Corporation</a><sup id="cite_ref-13" class="reference"><a href="#cite_note-13">&#91;11&#93;</a></sup>


            <span class="list layout-column">
wefwefwef<br>
wefwefwef<br>
wefwefwef<br>
wefwefwef<br>
wefwefwef<br>
wefwefwef<br>
wefwefwef<br>
wefwefwef<br>
            </span>
        </div>
    </div>
</div>

<style>
    .list{
        border: 1px solid #a2a9b1;
        background-color: #f8f9fa;
    }
    .name {
        font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
        font-size: 1.8em;
        line-height: 1.3;
        margin-bottom: 0.25em;
        padding: 0;
        color: #000;
        background: none;
        font-weight: normal;
        border-bottom: 1px solid #a2a9b1;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(162, 169, 177);
    }

    .header {
        background-image: linear-gradient(#ffffff 50%, #f6f6f6 100%);
    }

    .background {
        background-color: #f6f6f6;
    }

    .content-container {

    }

    .content {
        border: 1px solid #a7d7f9;
        padding: 1em;
        background-color: #ffffff;
        color: #222222;
        max-width: 760px;
        font-size: 0.875em;
    }

    .content p {
        margin: 0.5em 0;
    }
</style>