<md-dialog class="layout-column app-dialog">

    <div class="layout-row app-dialog-title">
        <div class="layout-row layout-align-center-center flex">
            <span>О разработчике</span>
        </div>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-font-icon="fa fa-times"></md-icon>
        </md-button>
    </div>

    <div class="layout-column app-dialog-content">

        <span>Разработал Гайдук Михаил</span>
        <span>Группа 581065</span>
        <span>2018-2019</span>
    </div>
</md-dialog>
