<md-dialog class="layout-column app-dialog">
    <div class="layout-row app-dialog-title">
        <div class="layout-row layout-align-center-center flex">
            <span>Скачать DarkJS</span>
        </div>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-font-icon="fa fa-times"></md-icon>
        </md-button>
    </div>

    <div class="layout-column layout-align-center-center"
         style="height: 200px; width: 400px">
        <span>Скачать файл <a href="#">DarkJS.jar</a> версии 1.0</span>
        <md-button ng-click="download()">
            Скачать
        </md-button>
    </div>
</md-dialog>
