<md-dialog class="layout-column app-dialog">
    <div class="layout-row app-dialog-title">
        <div class="layout-row layout-align-center-center flex">
            <span>Тестирование Базы данных</span>
        </div>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-font-icon="fa fa-times"></md-icon>
        </md-button>
    </div>

    <table>
        <tr>
            <th>Тест</th>
            <th>Время</th>
            <th>Результат</th>
        </tr>
        <tr>
            <td>Запись 1000 уникальных записей</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение 1000 уникальных записей</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение/Запись 1000 уникальных записей</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение записи (1мб)</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение записи (10мб)</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение записи (50мб)</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
    </table>
</md-dialog>