<md-dialog class="layout-column app-dialog">
    <div class="layout-row layout-align-center-center app-dialog-title">
        <span>Тестирование Базы данных</span>
    </div>
    <table>
        <tr>
            <th>Тест</th>
            <th>Время</th>
            <th>Результат</th>
        </tr>
        <tr>
            <td>Запись 1000 уникальных записей</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение 1000 уникальных записей</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение/Запись 1000 уникальных записей</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение записи (1мб)</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение записи (10мб)</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
        <tr>
            <td>Чтение записи (50мб)</td>
            <td>300 мс</td>
            <td>Успешно</td>
        </tr>
    </table>
</md-dialog>