<md-dialog class="layout-column app-dialog">
    <div class="layout-row app-dialog-title">
        <div class="layout-row layout-align-center-center flex">
            <span>Авторизация</span>
        </div>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-font-icon="fa fa-times"></md-icon>
        </md-button>
    </div>

    <div class="layout-column app-dialog-content">

        <md-input-container>
            <label>Логин</label>
            <input>
        </md-input-container>

        <md-input-container>
            <label>Пароль</label>
            <input>
        </md-input-container>

        <md-checkbox>
            запомнить меня на этом компьютере
        </md-checkbox>
        <md-button ng-click="login()">
            Вход
        </md-button>
    </div>
</md-dialog>
