<md-dialog class="layout-column app-dialog">
    <div class="layout-row layout-align-center-center app-dialog-title">
        <span>Авторизация</span>
    </div>
    <div class="layout-column"
         style="width: 400px; padding: 20px">

        <md-input-container>
            <label>Логин</label>
            <input>
        </md-input-container>

        <md-input-container>
            <label>Пароль</label>
            <input>
        </md-input-container>

        <md-checkbox>
            запомнить меня на этом компьютере
        </md-checkbox>
        <md-button class="md-button"
                   style="background-color: green; color: white; margin-top: 20px; height: 30px; font-size: 14px"
                   ng-click="login()">
            Вход
        </md-button>
    </div>
</md-dialog>
