<md-dialog class="layout-column app-dialog">
    <div class="layout-row app-dialog-title">
        <div class="layout-row layout-align-center-center flex">
            <span>Новый нод</span>
        </div>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-font-icon="fa fa-times"></md-icon>
        </md-button>
    </div>
    <div class="layout-column app-dialog-content">
        <md-input-container>
            <label>Название</label>
            <input ng-model="title">
        </md-input-container>
        <md-button ng-click="submit()"
                   ng-disabled="!title">
            Добавить
        </md-button>
    </div>
</md-dialog>
