<md-dialog class="layout-column app-dialog">
    <div class="layout-row app-dialog-title">
        <div class="layout-row layout-align-center-center flex">
            <span>Настройки</span>
        </div>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-font-icon="fa fa-times"></md-icon>
        </md-button>
    </div>
    <div class="layout-column app-dialog-content">
        <md-input-container>
            <label>Хост</label>
            <input ng-model="host">
        </md-input-container>

        <div class="layout-row">
            <span>Темная тема</span>
            <div class="flex"></div>
            <md-checkbox ng-model="darkTheme"></md-checkbox>
        </div>

        <div class="layout-row">
            <span>Отключить визуальные эффекты</span>
            <div class="flex"></div>
            <md-checkbox ng-model="backEffects"></md-checkbox>
        </div>

        <md-input-container>
            <label>Язык</label>
            <md-select ng-model="language">
                <md-option ng-repeat="lang in languages" ng-value="lang.code">
                    {{lang.name}}
                </md-option>
            </md-select>
        </md-input-container>


        <md-button ng-click="save()"
                   style="margin-top: 20px">
            Сохранить
        </md-button>
    </div>
</md-dialog>
