body {
    user-select: none;
}

div, img, span {
    outline: none;
    border: 0;
}

.ng-view {
    width: 100%;
    height: 100%;
}

.ng-view > * {
    width: 100%;
    height: 100%;
}

.flex-to-block-parent {
    overflow-y: auto;
    position: relative;
}

.flex-to-block-child {
    position: absolute;
    width: 100%;
    height: 100%;
}

.CodeMirror {
    height: 100%;
    width: 100%;
}

.md-mini md-icon {
    font-size: 20px
}

.d3-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-dialog {
    background-color: #eeeeee;
}

.app-dialog-title {
    height: 80px;
    background-color: #7f7f7f;
    color: white;
    font-size: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.md-button {
    background-color: green;
    color: white;
    height: 30px;
    font-size: 14px;
}

.md-button:not([disabled]):hover {
    background-color: green;
}

.md-button[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

md-input-container {
    margin-bottom: 0;
}

.md-icon-button {
    background-color: transparent;
}